fastapi==0.115.0
uvicorn[standard]==0.30.6

# DB
SQLAlchemy==2.0.34
psycopg2-binary==2.9.9

# Auth & security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Request parsing / uploads
python-multipart==0.0.12

# Env
python-dotenv==1.0.1
